html {
    min-height: 100%;


}


.seattleimage {
    background-image:  url("https://komonews.com/resources/media/67c10548-3e1d-468d-9525-7d5f3e70c65f-large3x4_12a0989c2bc64a04b66bd0f56d6406e4large16x9_160203_seattle_skyline_sunny_01.jpg?1607731497689");
    background-size: cover;
    position:absolute;
    height: 100%;
    width: 100%;
    /*top:0px;*/
    /*right:0px;*/
    /*bottom:0px;*/
    /*left:0px;*/


}

.message{
    font-weight: bold;
    text-align: center;
    color: blue;

}
